h1{
    background-color: #232323;
    color: #ffffff;
    text-align: center;
    font-family: 'Sen', sans-serif;
    font-size: 400%;
}
h1::selection{
    color: #ffffff;
}
.myButton {
	background-color:#232323;
	border:1px solid #000000;
    cursor:pointer;
    color:#ffffff;
	font-family: 'Sen', sans-serif;
	font-size:23px;
	padding:11px 31px;
    text-decoration:none;
    margin-top: 10px;
    margin-left: 10px;
}
.myButton:hover {
	background-color:#000000;
}
.myButton:active {
	top:1px;
}
.center-div{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

